{% extends 'plantillas.html' %}
{% block botones_veterinario %}{% endblock botones_veterinario %}
{% block botones_vendedor %}{% endblock botones_vendedor %}
{% block tabla %}{% endblock tabla %}
{% block titulos %}{% endblock titulos %}
{% block facturaDatos %}{% endblock facturaDatos %}



{% block login %}


<div class="RegistroHistoria1">
    <div class="RegistroHistoria2"> 
        <form class="RegistroHistoria3" action="/historiaClinica/{{veterinario.usuario}}" method="GET" id="formulario-mascota">

            <h2>Historia clinica</h2>
            <label for="id_mascota"></label>
            <input type="number" id="id_mascota" name="id_mascota" placeholder="ID mascota">
            
            <label for="hora"></label>
            <input type="time" id="hora" name="hora" placeholder="Hora" readonly>
            
            <label for="fecha"></label>
            <input type="date" id="fecha" name="fecha" placeholder="Fecha" required readonly>
            
            <label for="medico"></label>
            <input type="text" id="medico" name="medico" placeholder="Ingrese el nombre del medico" required>
            
            <label for="motivo_consulta"></label>
            <input type="text" id="motivo_consulta" name="motivo_consulta" placeholder="Motivo de consulta" required>
            
            <label for="sintomatologia"></label>
            <input type="text" id="sintomatologia" name="sintomatologia" placeholder="Sintomatología" required>
            
            <label for="diagnostico"></label>
            <input type="text" id="diagnostico" name="diagnostico" placeholder="Diagnóstico" required>
            
            <label for="procedimiento"></label>
            <input type="text" id="procedimiento" name="procedimiento" placeholder="Procedimiento" required>
            
            <label for="medicamento"></label>
            <input type="text" id="medicamento" name="medicamento" placeholder="Medicamento" required>
            
            <label for="dosis"></label>
            <input type="text" id="dosis" name="dosis" placeholder="Dosis" required>
            
            <label for="id_orden"></label>
            <input type="number" id="id_orden" name="id_orden" placeholder="ID de la orden" required>
            
            <label for="historial_vacunacion"></label>
            <input type="text" id="historial_vacunacion" name="historial_vacunacion" placeholder="Historial de vacunación" required>
            
            <label for="alergias"></label>
            <input type="text" id="alergias" name="alergias" placeholder="Alergias" required>
            
            <label for="detalle_procedimiento"></label>
            <input type="text" id="detalle_procedimiento" name="detalle_procedimiento" placeholder="Detalles del procedimiento" required>
            
            <button type="submit">Vender</button>
            <a href="/inicioVeterinario/{{veterinario.usuario}}" class="button">Volver</a>
            
            <script>
              // Obtener la fecha y hora actual
            var now = new Date();

              // Establecer la fecha actual en el campo de fecha
            var fechaInput = document.getElementById('fecha');
            fechaInput.value = now.toISOString().split('T')[0];
            
              // Establecer la hora actual en el campo de hora
            var horaInput = document.getElementById('hora');
            horaInput.value = now.toLocaleTimeString('en-US', { hour12: false });
            </script>
            



            {% if messages %}
                        {% for message in messages %}
                            <p class="error">{{ message }}</p>
                        {% endfor %}
            {% endif %}
            
        </form>
        
    </div>
</div>

{% endblock login %}

