footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  
  .contenedor_Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

  }
  
  .menu-footer {
    flex: 1;
  }
  
  .lista-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .lista-menu li {
    margin: 0 10px;
  }
  
  .lista-items {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .lista-items:hover {
    text-decoration: underline;
  }
  
  .copirait {
    flex: 1;
    text-align: right;
  }
  
  .texto-copirait {
    color: #333;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    .contenedor_Footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-footer {
      margin-bottom: 20px;
    }
  
    .lista-menu {
      justify-content: center;
    }
  
    .copirait {
      text-align: center;
    }

  }
  