.login-form {
    background-color: rgb(229, 232, 232);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.64);
    padding: 40px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-top: 40%;
    margin-bottom: 40%;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
    text-align: left;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .login-form button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .login-form button:hover {
    background-color: #555;
  }
  
  .login-form p {
    margin-top: 20px
  }

  .error{
    position: relative;
    color: rgba(255, 0, 0, 0.628);
    font-size: 20px;
    text-align: center;
   
  }

  


  @media screen and (max-width: 768px) {
    .login-form {
      margin-top: 30px;
      margin-bottom: 30px;

      height: calc(85vh - 150px); /* Resta 150px a la altura total para dejar espacio para el header y el footer */
      padding: 10px; /* Agrega un espacio interno para dispositivos más pequeños */
      

    }
}